{% extends 'add_nav_buttons.html' %}

{% block content %}
    <script>
        let insert = 'begining';        
        //alert(`start at the ${insert} - page loaded`);
        console.log('page loaded');
        // enter the following in the console to view events LIVE
        // monitorEvents($('.special_picker_button_class'))
        // monitorEvents($('.form_recpie_dd'))
        
        document.addEventListener('DOMContentLoaded', function() {
            console.log('DOMContentLoaded');
            
            //document.querySelector('#b_pick').click = function() {
            document.querySelector('.special_picker_button_class').onclick = function() {
                //const not_var = 'sentence';
                //alert(`finish the ${not_var}`);
                console.log('b_pick.click');
            };
            console.log('click attached');

            document.querySelector('.special_picker_button_class').onmousedown = function() {
                const not_var = 'sentence';
                //alert(`finish the ${not_var}`);
                console.log(`b_pick.mousedown finish the ${not_var}`);
            };
            console.log('mousedown attached');
            
            document.querySelector('.form_recpie_dd').oninput = function() {
                console.log(`FORM - ONSUBMIT: this.value < ${this.value} >`);
                console.log(`FORM - ONSUBMIT: this.name < ${this.name} >`);
                console.log(`FORM - ONSUBMIT: this.innerHTML < ${this.innerHTML} >`);                
                console.log(`FORM - ONSUBMIT: this.input < ${this.input} >`);
                console.log(`FORM - ONSUBMIT: this.innerText < ${this.innerText} >`);
                console.log(`FORM - ONSUBMIT: this.name.innerText < ${this.name.innerText} >`);
                //console.log(`FORM - ONSUBMIT: this.input.value < ${this.input.value} >`);
                console.log(`FORM - ONSUBMIT: this < ${this} >`);
                // console.log(`FORM - ONSUBMIT: this. < ${this.} >`);
                console.log( document.querySelector('input') );
                console.log( document.querySelector('input').value );   // << CA-CHING
                console.log( document.querySelector('input[name="recipe_image_list_drop_down"]') );
                console.log( document.querySelector('input[name="recipe_image_list_drop_down"]').value );
                
                //<img id='recipe_image' src="/static/images/awesome_sauce_landing_page_QR_code.png">
                // change image to image in drop down
                new_image = document.querySelector('input[name="recipe_image_list_drop_down"]').value;                
                console.log( document.querySelector('#recipe_image') );
                if (new_image.length != 0) {
                    // document.querySelector('#recipe_image').src=`/static/${new_image}`;
                    document.querySelector('#recipe_image').src=`http://192.168.0.8:8000/static/${new_image}`;
                }
                
            }
 
            document.querySelector('.form_recpie_dd').onpointerenter = function() {
                console.log("ponterenter: CLEARING FORM");
                document.querySelector('input[name="recipe_image_list_drop_down"]').value = '';
            }
 
            document.querySelector('.form_recpie_dd').onsubmit = function() {
                console.log(`FORM - ONSUBMIT: this.value < ${this.value} >`);
                console.log(`FORM - ONSUBMIT: this.name < ${this.name} >`);
                console.log(`FORM - ONSUBMIT: this.innerHTML < ${this.innerHTML} >`);                
                console.log(`FORM - ONSUBMIT: this.input < ${this.input} >`);
                console.log(`FORM - ONSUBMIT: this.innerText < ${this.innerText} >`);
                console.log(`FORM - ONSUBMIT: this.name.innerText < ${this.name.innerText} >`);
                // console.log(`FORM - ONSUBMIT: this. < ${this.} >`);
            }
            
            console.log(document.querySelector('.special_picker_button_class'));
            console.log(document.querySelector('.special_picker_button_class').onclick);
            console.log(document.querySelector('.special_picker_button_class').onmousedown);
            
        });
    </script>
    
    <h2>Recipe Drop Down!</h2>
    <p>creating a drop down with the list of images - STAY ON THIS PAGE</p>
    <form class='form_recpie_dd' action="{{ url_for('recipe_drop_down') }}" method="post">        
        <input name="recipe_image_list_drop_down" list="recipe_image_list" placeholder="Which you fancy?">
        
        <datalist id="recipe_image_list">
            {% for key, image in image_dict.items() %}
            <option value="{{image}}">
            {% endfor %}
        </datalist>
        <button class='original_button' id='o_pick'>PICK!</button>        
    </form>
    <button class='special_picker_button_class' id='b_pick'>GO ON, PICK!</button>

    <h3>You selected: {{recipe_image}}</h3>
    {% if recipe_image != '' %}
      <img id='recipe_image' src="/static/{{recipe_image}}">
    {% else %}
      <img id='recipe_image' src="/static/images/awesome_sauce_landing_page_QR_code.png">
    {% endif %}


    <p>creating a drop down with the list of images - go to OTHER page</p>
    <form action="{{ url_for('drop_down_action') }}" method="post">
        <input name="recipe_image_list_drop_down" list="recipe_image_list" placeholder="Which you fancy?">
        
        <datalist id="recipe_image_list">
            {% for key, image in image_dict.items() %}
            <option value="{{image}}">
            {% endfor %}
        </datalist>
        <button>PICK!</button>
    </form>    
    <p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
    <p>for loop through keys</p>
    {% for key in image_dict %}
    <lu>{{key}}</lu><br>
    {% endfor %}

    <p>for loop through keys - dereference image_dict</p>
    {% for key in image_dict %}
    <lu>{{key}} - {{image_dict[key]}}</lu><br>
    {% endfor %}

    <p>iterating dictionary with <strong><em>items()</em></strong></p>
    {% for key, image in image_dict.items() %}
    <lu>{{key}} - {{image}}</lu><br>
    {% endfor %}

    <p>creating a drop down with the list of images</p>
    <form action="{{ url_for('drop_down_action') }}" method="post">
        <input name="recipe_image_list_drop_down" list="recipe_image_list" placeholder="Which you fancy?">
        
        <datalist id="recipe_image_list">
            {% for key, image in image_dict.items() %}
            <option value="{{image}}">
            {% endfor %}
        </datalist>
        <button>PICK!</button>
    </form>

    <div>    
    <p>showing all the images</p>
    {% for key, image in image_dict.items() %}
        <img src="/static/{{image}}">
    {% endfor %}
    </div>
    
    <p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p><br>

    <div>
    <input name="allergies" list="allergens" placeholder="Any allergies?">
    <datalist id="allergens">
        <option value="celery">
        <option value="cereal - wheat">
        <option value="crustacean">
        <option value="egg">
        <option value="fish">
        <option value="lupin">
        <option value="milk">
        <option value="molluscs">
        <option value="mustard">                    
        <option value="peanuts">
        <option value="sesame seeds">
        <option value="nuts and seeds">
        <option value="soya">
        <option value="sulphur dioxide / sulphites">
        <option value="lactose">
        <option value="gluten">
    </datalist>
</div>

{% endblock %}
